.nav-menu {
    display: flex;
    justify-content: space-between;
    height: 62px;
    align-items: center;
    /* border: white 2px solid; */
}

.brand-title, .user-button {
    margin: 0 10px;
}

.user-menu {
    display: flex;
    align-items: center;
}

.user-button {
    background: white;
    height: 48px;
    border-radius: 30px;
}

.user-image{
    width: 48px;
    background: #acadaf;
    border-radius: 30px;
}